* {
  font-family: "Markazi Text", "Karla", serif;
}

body {
  margin: 0;
  padding: 0;
}
.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.nav-image {
  max-height: 4rem;
  margin-top: 0.7rem;
  margin-left: -1.25rem;
}
li {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1E1E1E;
}

img {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 1em 5em;
}
footer {
  min-height: 2rem;
  background-color: #495e57;
  color: #ffffff;
  text-align: center;
}